* {
    padding:0;
    margin:0;
}
section:nth-child(1) {
    background-color:#0da5d6;
    position:relative;
    overflow:hidden;
}
section:nth-child(1) .logo {
    width:265px;
    height:190px;
    background: url("../images/p1.png") no-repeat -250px 0px;
    margin:-250px 0 0 -132px;
    position:absolute;
    left:50%;
    top:50%;
}
.word-animation  {
    width:100%;
    height:100px;
    /*background-color:pink;*/
    position:absolute;
    top:50%;
    margin-top:15px;
    text-align:center;
}
.word-animation span {
    display:inline-block;
    width:93px;
    height:100px;
    margin:0px 35px;
    opacity:0;

}
.word-animation span:nth-child(1) {
    width:74px;
    height:100px;
    background:url(../images/p1.png) no-repeat 0 -200px;
}
.word-animation span:nth-child(2) {
    background:url(../images/p1.png) no-repeat -75px -200px;
}
.word-animation span:nth-child(3) {
    background:url(../images/p1.png) no-repeat -170px -200px;
}
.word-animation span:nth-child(4) {
    background:url(../images/p1.png) no-repeat -275px -200px;
}
.word-animation span:nth-child(5) {
    background:url(../images/p1.png) no-repeat -375px -200px;
}
.word-animation span:nth-child(6) {
    background:url(../images/p1.png) no-repeat -475px -200px;
}
.word-animation span:nth-child(7) {
    background:url(../images/p1.png) no-repeat -575px -200px;
}
.word-animation span:nth-child(8) {
    background:url(../images/p1.png) no-repeat -675px -200px;
}
section:nth-child(1).current .word-animation span {
    transition:all 2s ease-in-out ;
    opacity:1;
    margin:0 7px;
    /*text-align:center;*/
}
.word {
    width:772px;
    height:50px;
    background:url(../images/p1.png) no-repeat 0 -345px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-385px;
    margin-top:135px;
}
/*第二屏开始*/
section:nth-child(2) {
    width:100%;
    height:100%;
    background-color:#2AB561;
    position:relative;
    overflow:hidden;
}
section:nth-child(2) .text {
    width:635px;
    height:309px;
    background: url(../images/p2.png);
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-165px;
}
section:nth-child(2) .shield {
    width:428px;
    height:498px;
    /*background:pink;*/
    position:absolute;
    left:10%;
    top:50px;
    display:flex;
    flex-wrap:wrap;
}
/*.shiled span {*/
/*margin:0;*/
/*padding:0;*/
/*}*/
.shield span:nth-child(1) {
    width:122px;
    height:155px;
    background:url(../images/shield.png) no-repeat 0 0;
    transform: translate(145px,60px) rotate(45deg);
}
.shield span:nth-child(2) {
    width:178px;
    height:155px;
    background:url(../images/shield.png) no-repeat -122px 0;
    transform: translate(345px,90px) rotate(177deg);
}
.shield span:nth-child(3) {
    width:122px;
    height:155px;
    background:url(../images/shield.png) no-repeat -300px 0;
    transform: translate(700px,180px) rotate(56deg);

}
.shield span:nth-child(4) {
    width:122px;
    height:179px;
    background:url(../images/shield.png) no-repeat 0 -155px;
    transform: translate(800px,260px) rotate(277deg);
}
.shield span:nth-child(5) {
    width:178px;
    height:179px;
    background:url(../images/shield.png) no-repeat -122px -155px;
    transform: translate(1200px,840px) rotate(286deg);
}
.shield span:nth-child(6) {
    width:128px;
    height:179px;
    background:url(../images/shield.png) no-repeat -300px -155px;
    transform: translate(700px,-50px) rotate(156deg);
}
.shield span:nth-child(7) {
    width:122px;
    height:164px;
    background:url(../images/shield.png) no-repeat 0 -334px;
    transform: translate(560px,-180px) rotate(86deg);
}
.shield span:nth-child(8) {
    width:178px;
    height:164px;
    background:url(../images/shield.png) no-repeat -122px -334px;
    transform: translate(0px,-360px) rotate(300deg);

}
.shield span:nth-child(9) {
    width:128px;
    height:164px;
    background:url(../images/shield.png) no-repeat -300px -334px;
    transform: translate(600px,-300px) rotate(54deg);
}
/*第二屏动画开始*/
section:nth-child(2).current  .shield  span{
    transition:all 1s ease-in-out;
    transform: translate(0px,0px) rotate(0deg);
}
section:nth-child(3) {
    width:100%;
    height:100%;
    background-color:#DE8910;
    overflow:hidden;
    position:relative;
    display:flex;
}
section:nth-child(3) .three-text {
    width:720px;
    height:300px;
    background:url(../images/p3.png) no-repeat 0 -275px;
    position:absolute;
    top:125px;
    left:50px;
}
section:nth-child(3) .robort {
    width:453px;
    height:452px;
    background:url(../images/p3.png) no-repeat 0 -602px;
    position:absolute;
    left:55%;
    top:100px;
    /*overflow:hidden;*/
    display:flex;
    justify-content:center;
    align-items:center;
}
section:nth-child(3) .arrow {
    width:205px;
    height:205px;
    background:url(../images/p3.png) no-repeat -371px -21px;
    position:absolute;
    left:860px;
    top:220px;
    transform:translate(-460px,460px);
}
/*第三屏动画*/
section:nth-child(3).current .arrow {
    transition:all 1s ease-in-out;
    transform:translate(0px,0px);
}
.robort .circle {
    width:388px;
    height:405px;
    background:url(../images/p3.png) no-repeat -471px -621px;
    /*position:absolute;*/
    /*left:50%;*/
    /*top:50%;*/
    display:flex;
    justify-content:center;
    align-items:center;
}
.robort .circle .little-circle {
    width:363px;
    height:363px;
    background:url(../images/p3.png) no-repeat -880px -641px;
}
section:nth-child(4) {
    width:100%;
    height:100%;
    background-color:#16BA9D;
    position:relative;
    overflow:hidden;
}
section:nth-child(4) .content {
    width:510px;
    height:45px;
    background:url("../images/p4.png") no-repeat -10px -10px;
    position:absolute;
    left:50px;
    top:30%;
}
section:nth-child(4) .content .content-text {
    /*width:95px;*/
    width:0px;
    height:45px;
    background:url("../images/p4.png") no-repeat -567px -317px;url("../images/p4.png") no-repeat -567px -317px;
    position:absolute;
    left:2px;
    top:1px;
}
section:nth-child(4) .content .picture {
    width:510px;
    /*height:355px;*/
    height:0px;
    position:absolute;
    left:-1px;
    top:40px;
    background:url("../images/p4.png") no-repeat -10px -79px;
}
section:nth-child(4) .four-text {
    width:623px;
    height:305px;
    background:url("../images/p4.png") no-repeat -555px 0px;
    position:absolute;
    left:50%;
    top:30%;
}
section:nth-child(4).current .content .content-text {
    transition:all 2s steps(5);
    width:95px;
}
section:nth-child(4).current .content .picture {
    transition:all 0.2s ease-in 2s;
    height:355px;
}
section:nth-child(5) {
    width:100%;
    height:100%;
    background-color:#0DA5D6;
    position:relative;
    overflow:hidden;
}
section:nth-child(5) .back {
    width:1077px;
    height:142px;
    background:url("../images/p5.png") no-repeat 0 0;
    position:absolute;
    top:15px;
    left:145px;
}
section:nth-child(5) .bg {
    width:1018px;
    height:606px;
    position:absolute;
    left:145px;
    top:180px;
}
section:nth-child(5) .browser {
    width:1018px;
    height:606px;
    background:url("../images/p5.png") no-repeat -29px -156px;
    opacity:0;
    /*position:absolute;*/
    /*left:145px;*/
    /*top:180px;*/
}
section:nth-child(5).current .browser {
    transition:all 1s linear 1.5s;
    opacity:1;
}
section:nth-child(5) .wrap {
    width:0px;
    height:32px;
    opacity:0.5;
    position:absolute;
    left:86px;
    top:33px;
    overflow:hidden;
}
section:nth-child(5).current .wrap {
    transition:all 0.5s linear 2s;
    width:905px;
}
section:nth-child(5) .wrap span {
    width:902px;
    height:29px;
    border:1px solid white;
    border-radius:7px;
    display:inline-block;
}

section:nth-child(5) .bg .top-line {
    width:1018px;
    height:1px;
    background-color:white;
    position:absolute;
    left:-100%;
    top:0px;
    opacity:0;
}
section:nth-child(5).current .bg .top-line {
    transition:all 1.5s ease-in-out ;
    left:0px;
    opacity:0.5;
}
section:nth-child(5) .bg .left-line {
    width:1px;
    height:960px;
    background-color:white;
    position:absolute;
    left:0;
    top:100%;
    opacity:0;
}
section:nth-child(5).current .bg .left-line {
    transition:all 1.5s ease-in-out ;
    top:0px;
    opacity:0.5;
}
section:nth-child(5) .bg .right-line {
    width:1px;
    height:960px;
    background-color:white;
    position:absolute;
    right:0;
    top:-100%;
    opacity:0;
}
section:nth-child(5).current .bg .right-line {
    transition:all 1.5s ease-in-out ;
    top:0px;
    opacity:0.5;
}
